.DS_Store

# Terraform working directories
**/.terraform/*

# Terraform state, plans, and crash logs
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log

# Local variable and backend overrides
*.tfvars
!*.tfvars.example
backend.hcl

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
