bucket         = "replace-with-your-globally-unique-tfstate-bucket"
key            = "envs/dev/platform/terraform.tfstate"
region         = "ap-south-1"
dynamodb_table = "replace-with-your-terraform-lock-table"
encrypt        = true